*{
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    outline-style: dashed;
}
html {    
    scroll-behavior: smooth;
}
:root{
    --pink: #eaa0a8;
    --yellow:  #FFF4A3;
    --white: #F3ECEA;
    --lime: #D9EEE1;
    --sky: #96D4D4;
    --silver: #E7E9EB;
    --black: #282A35;


}
.pink{
    background-color: var(--pink);
}
.yellow{
    background-color: var(--yellow);
}
.white{
    background-color: var(--white);
}
.lime{
    background-color: var(--lime);
}
.sky{
    background-color: var(--sky);
}
.silver{
    background-color: var(--silver);
}
.square{
    transition: 0.3s;
}

.wrapcode > code{
    width: 100%;
}
.square:hover{
    box-shadow: rgb(255, 255, 255) 0.625em -1em;
    position: relative;
    padding: 0.9em;    
}
.square:hover > p{
    width: 100%;
}


.square > a {
    background-color: black !important;
    color: white;
    white-space: wrap;
}
.square > p{
    font-weight: bold;
    white-space: pretty;
    max-width: 30ch !important;
    min-width: fit-content;
    font-size: 1.8em !important;

}
html,body{
    padding: 0px;
    margin: 0px;
}



a{
    text-decoration: none;
}

#herotext{
    font-family: Arial;
    font-weight: 900;
    font-size: 6rem;
    margin: 0;
}

.fullwrapper{
    width: 100%;
}
#navbar{
    padding: 0.5em;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(6.25em,1fr));
    grid-auto-rows: auto;
    gap: 0.3125em;
    justify-content: space-around;
    background-color: rgb(40, 42, 53);
    position: sticky;
}

#navbar > a{
    display: inline-block;
    color: white;
    padding: 0.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar > a:hover{
    background-color: #04AA6D;
}


.slide{
    width: 100%;
    background-color: #D9EEE1;
    padding: 2.5em;
    /* background-image: url(background_in_space.webp); */
    container: slide / inline-size;
    
}

.section  {
    text-align: center;
    width: 100%;
}

.section > *{
    font-weight: bold;
}

.section > h2{
    text-align: center;
    font-size: 3rem;
    
}

.description{
    font-size: 1.4rem !important;
    margin-top: 0.6em !important;
    white-space: nowrap;
    width: 100%;
}
.section > p{
    margin: 0;
}


.leftside{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 1.2rem;
    width: 30em;

}

.leftside > p{
    margin-top: 1.5em;
}

.jshero{
    font-size: 2.7rem !important;
}

#jstext{
    font-size: 1.4rem !important;
}
.listofas > a{
    text-align: center;
    width: 12.5em;
    text-decoration: none;
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0.8em 4em;
    border-radius: 3.125em;
    outline: none;
}

h1,h2,h3{
    font-family: 'Source Sans Pro', sans-serif;
}


.try{
    white-space: nowrap;
    font-size: 1rem;
    width: 100% !important;
}

.listofas > h2{
    font-size: 2.5rem;
    font-weight: 900;
    font-weight: bold;
    margin-bottom: 0;
}


.first{
    background-color: #03b775; 
    font-weight: 900;  

}
.second{
    background-color: #fff39c !important;
    color: black !important;
}
.third{
    background-color: black;
}
.first:hover{
    background-color: #029962;   
}
.second:hover{
    background-color: rgb(255, 241, 131) !important;
}
.third:hover{
    background-color: rgb(52, 51, 51);

}

.fourth{
    background-color: #ffb3bb !important;
    color: black !important;
}
.fourth:hover{
    background-color: #eaa0a8 !important;

}

.listofas{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 0.6em;
 
}






.pycard{
    min-width: 30em;
    width: 100%;
    background-color: #E7E9EB;
    border: 0.02em;
    border-radius: 0.2em;
    padding: 1.1em;
    padding-top: 2em;
    font-size: 1.2rem;
    box-shadow: 0 0 0.4em 0.1em rgba(0,0,0,0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pycard > .endcard{
    width: 100%;
    display: flex;
    justify-content: start;
}
.rightside > .card{
    min-width: 30em;
    width: 100%;
    background-color: #E7E9EB;
    border: 0.02em;
    border-radius: 0.2em;
    padding: 1.1em;
    padding-top: 2em;
    font-size: 1.2rem;
    box-shadow: 0 0 0.4em 0.1em rgba(0,0,0,0.1);
    height: 100%;
  

}


.pythonwrapcode{
    height: 100%;
    text-align: start !important;
}

.titlecontainer{
    width: 100%;
    text-align: start;
    padding-bottom: 1em;
    font-size: 1.4rem !important;
}


.wrapcode{
    width: 100%;
    display: flex;
    text-align: start !important;
    justify-content: baseline !important;
    align-items: start !important;
    flex-direction: column;
    padding: 0.5em 0.3em;
    background-color: white;
    /*color: red;*/
    border-left: 0.19em solid #029962;
    /* white-space: wrap; */

}

#wrapcodepy{
    height: 65%;
    margin-bottom: 20px;
}
#wrapsql{
    height: 65%;
    margin-bottom: 20px;
}
.pythonwrapcode{
    width: 100%;
}
h3.title{
    margin-bottom: 0;
    margin-top: 0;
}


.card > .endcard{
    margin-top: 1em;
    width: 100%;
    display: flex;
    white-space: nowrap;
}
.endcard > a{
    padding: 0.7em 3.0em;
    background-color:#029962;
    border-radius: 3.125em;
    color: white;
}

.endcard > a:hover{
    background-color:#047f52;

}

#endcardpy{
    display: flex;
    justify-content: start;
    align-items: end;
    margin-top: auto;
}


.slide:nth-child(2){
    background-color:     #FFF4A3 !important
}


    
.slide:nth-child(3){
    background-color: #282A35 !important;
}
.slide:nth-child(3) #herotext{
    color: white;

}
.slide:nth-child(3) .description{
    color: white;
}
.slide:nth-child(4){
    background-color: #F3ECEA !important
}

.slide:nth-child(5){
    background-color: #96D4D4 !important
}
pre{
    text-align: center !important;
}

.changewhite{
    background-color: white;
    color: black !important;
}

.changewhite:hover{
    background-color: rgb(206, 206, 206);
}

.jscode{
    color: black !important;
    text-align: start !important;
    width: 100% !important;
    margin-right: auto;
    font-size: 1.3rem !important;
}

.jstext{
    font-size: 4.5rem !important;
    width: 100%;
}
.division{
    display: flex;
    justify-content: center;   
    gap: 7.5em; 
    padding: 1em;
    width: 100%;
}


.python{
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
.pycode{
    min-height: 100%;
    padding: 0.6em;
}

.cardcontainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sqlcode{
    font-size: 1.3rem;
    width: 100%;
}


.firstgrid{
    width: 100%;
    justify-content: center;
    display: grid;
    background-color: var(--black);
    grid-template-columns: repeat(auto-fit,minmax(30em,1fr));
    grid-auto-rows: 1fr;
    padding: 4.0625em 6.25em;
    gap: 8.5em;
    container-name: firstgrid;
    container-type: inline-size;

}
.square{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5em;
    border-radius: 0.3em;
    padding:  0.4375em 1.875em;
    /*faccio in modo che prenda la grandezza più piccola tra 100% e 90vw*/
    width: min(100%,90vw);
    justify-self: center;
    font-size: 1rem;
}

.square > p{
    flex: 1;
    text-align: center;
    margin-top: 0;
    width: 100% !important;
    height: min-content;
    font-size: 1.8em;
    line-height: 1.5;
    
}

.square > h1,h2{
    margin-bottom: 0;
    font-size: 3.7em;
    font-weight: bold;
    font-family: Arial;
    font-weight: 700;
}

.square > a{
    padding: 0.625em 5.375em;
    border-radius: 3.125em;
    display: inline-block;
    margin-bottom: 1em;
    font-size: 1.3em;
    word-wrap: nowrap;
}

.wrapsecondgrid{
    width: 100%;
    container: secondgrid / inline-size;
    background-color: var(--black) !important;
}
.secondgrid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,minmax(250px,1fr));
    grid-auto-rows: 1fr;
    gap: 80px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 20px 80px;
    margin: 0 20px;
    background-color: var(--black) !important;

}

.language{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    border-radius: 0.3em;
    width: 100%;
    padding: 1em 4em;
    justify-self: center;
    font-size: 2rem;
}

.language > span{
    font-size: 4rem;
    min-width: fit-content;
    white-space: nowrap;
    text-align: center;
    white-space: pre-line;
    
}
.bigger{
    grid-column: 1 /  3;
}
.bigger2{
    grid-column: 3 / 5;
}

.firstgridwrapper{
    width: 100%;
    container: firstgridwrapper / inline-size;
}

.dsa{
    font-size: 3rem !important;
    min-width: 100%;
    overflow-wrap: break-word;
}

.dsacontainer{
    height: 100%;
}






/*=======================================QUERIES=========================================*/


@container  (max-width: 1000px) {

   
    .endcard > a{
        background-color: red !important;
        padding: 20px;
        width: 50% !important;
        text-align: center;
    }
    .division{
        width: 100% !important ;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3.75em;
    }
    .rightside > .card{
        width: 100%
        
    }
    .rightside{
        min-width: 100%;
    }
   .description{
    margin-bottom: 1.3em;
   }
   .leftside > #herotext11{
    font-size: 5rem;
   }
   .endcard{
    width: 100%;    
   }
   .firstgrid{
    background-color: var(--black) !important;

}


.firstgrid > .square > a{
    width: 100%;
    text-align: center;
    padding: 20px;
}
}



@container  (max-width: 551px) {

    .division{
        width: 100% !important ;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3.75em;
    }
   .container{
    font-size: 2rem;
   }
   h2{
    background-color: red;
    font-size: 4rem !important;
   }

   .card{
    min-width: 100% !important;
   }
   .endcard{
    min-width: 100% !important; 
    margin-top: 0.5em;   
   }
   .endcard > a{
    width: 100% !important;
   }
   .wrapcode{
    font-size: 1.1rem;
    width: auto;

   }
   .pythonwrapcode{
    height: 100% !important;
   }
   .pycard{
    height: 100% !important;
   }
   .jscode {
    font-size: 0.9rem !important;
   }
   .square:hover{
    box-shadow: rgb(255, 255, 255) 0.6125em -1em;
    position: relative;
    padding: 0px;
}
.square:hover > p{
    }
}




@container secondgrid (max-width:1281px){
    
    .secondgrid{
        grid-template-columns: repeat(2,minmax(250px,1fr));
        background-color: red !important;
        
    }
    .language{
        width: min(100%,90vw);
    }
    .bigger{
        grid-column: 1 / -1;
        width: 100%;
    }
    .bigger2{
        grid-column: 1 / -1;
        width: 100%;
    }
    
}


@container secondgrid (max-width:600px){


    .secondgrid{
        grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
        background-color: green !important;
        gap: 0px;
        padding: 0px;
        margin: 0px;
    }
    .bigger,.bigger2{
    }
    span{
        width: 100% !important;
    }
    .dsa{
        width: 100%;
        overflow-wrap: break-word;

    }
    .language{
        align-self: center;
        width: min(100%,90vw);
    }

}